* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
  height: 100%;
}

/*Navigation bar*/
#navBar {
  list-style-type: none;
  margin:0;
  padding: 0;
  overflow: hidden;
  background-color: lightblue;
}

.navBarItem{
  float: right;
}

.navBarItem a {
  display: block;
  text-align: center;
  padding: 10px 10px;
}

/*Welcome section*/
#welcome-section {
  height: 100%;
  text-align: center;
  color: #ECF7EB;
  background-color: #252624;
}

#welcome-section h1 {
  margin: 0;
  padding: 20px;
  font-size: 50px;
}

#welcome-section p {
  font-size: 30px;
}
