* {
  box-sizing: border-box;
}

@font-face {
	font-family: 'Open Sans';
	src: url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
}

/*=============================================================================*/
/*                          HOMEPAGE                                          */
/*=============================================================================*/
body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
  'navigation navigation navigation'
  ' welcomesection welcomesection welcomesection'
  'projects projects projects';
  margin: 0;
  font-family: 'Open Sans';
  font-size: 100%;
}

/*================================================*/
/*  Navigation bar*/
/*================================================*/
#navBar {
  position: sticky;
  top: 0;
  grid-area: navigation;
  background-color: #CF004E;
}

#navBar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
/*		Navigation links	*/
.navBarItem {
  float: right;
  font-size: 1.4em;
}

.navBarItem a {
  display: block;
  color: #ECF7EB;
  text-decoration: none;
  text-align: center;
  padding: 17px 16px;
}

.navBarItem a:hover {
	background-color: #1F00B0;
  font-weight: 900;
}

/*================================================*/
/*	Welcome section*/
/*================================================*/
#welcome-section {
  grid-area: welcomesection;
  text-align: center;
  background-color: black;
  padding: 10%;
  height: 100vh;
}

#welcome-section h1 {
  margin: 0;
  font-size: 4.5vw;
  color: #E3E1DA;
}

#welcome-section p {
  font-size: 2vw;
  color: #A30B1D;
}

#welcome-section a {
  color: #D60F26;
  font-style: italic;
}
/*================================================*/
/*	Projects section*/
/*================================================*/
#projects {
  grid-area: projects;
  display: grid;
  grid-template-rows: 1fr repeat(2 , 400px);
  grid-template-columns: repeat(2 , 1fr);
  grid-template-areas:
    'projectsHeader projectsHeader'
    'projectTile1 projectTile2'
    'projectTile3 projectTile4';
  background-color: #1C2750;
}

  /* PROJECTS HEADER */
#projects h2 {
  grid-area: projectsHeader;
  font-size: 4vw;
  text-align: center;
  text-decoration: underline;
  color: #E3E1DA;
  padding-top: 50px;
}

  /* Project Tiles */
.project-tile {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  background-color: #211B1C;
  color: #E3E1DA;
  font-size: 1.5em;
  text-decoration: underline;
  font-weight: 800;
  margin: 10px;
}

.project-tile a {
  text-decoration: none;
  color: #E3E1DA;
  text-align: center;
  margin-bottom: 10px;
}

.project-tile #project-tile-1-image {
	width: 70%;
	display: block;
	margin: 10px auto 30px auto;
}
/*=============================================================================*/
/*                          TRIBUTE PAGE                                       */
/*=============================================================================*/

/*================================================*/
/*  Tribute page Body*/
/*================================================*/
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333038;
  background-color: #E6E6E6;
  margin-top: 50px;
}

#main h1 {
  font-size: 3em;
}

#image-div {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1240px;
  background-color: white;
}

#image-div figcaption {
	margin: 20px auto;
	text-align: center;
}

#image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:95%;
	height: auto;
}

#tribute-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 600px;
}

#tribute-info h3 {
  font-size: 1.5em;
}

#tribute-info li {
	padding-bottom: 1.5em;
}

#tribute-info ul {
	margin-bottom: 2em;
}

blockquote p {
	font-weight: 500;
}

blockquote {
	font-style: italic;
	margin-bottom: 3em;
	max-width: 700px;
}

#tribute-info p {
	text-align: center;
	font-weight: 600;
	width: 700px;
}

#footer {
	margin-top: 30px;
	font-size: 0.8em;
}
